/* Variables CSS */

html{
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
}

:root {
    --bg-color-section: linear-gradient(-20deg, #00cdac 0%, #18d6ca 100%);
    --color-white: #fff;
    --size-title: 4rem;
    --hover-links: #00ec98;
    --titulos-h2: #002a51;
    --bg-box: linear-gradient(to right, #0acffe 0%, #495aff 100%);
    --bg-box2:linear-gradient(90deg, #08AEEA 0%, #00d4c0 100%);
    
    
    
    --bg-footer: #1068fe;
    --bg-hero: #1068fe;
}

h2 {
    font-weight: 800;
    color: var(--titulos-h2);
    text-transform: uppercase;
    padding-bottom: 100px;
    font-size: 2.4em;
}

h3 {
    font-weight: 700;

}

.navbar {
    z-index: 9999;
}

/* Enlaces */
.contactos a {
    color: var(--color-white);
    text-decoration: none;
}

/* Contactos */

.fa {
    font-size: 1.5rem;
    vertical-align: middle;
}

.fa:hover {
    color: var(--hover-links);
}


/* gratis */
.gratis {
    background-color: #01b564;
    background-image: linear-gradient(315deg, #0062eb 0%, #3eadcf 74%);
    padding: 0px 20px;
}

/* Hero image */

.hero {

    padding: 100px 0px;
    position: relative;
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
}

.hero a {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 700;
}

.hero a:hover {
    color: var(--hover-links);
}

.curve {
    background: url('../img/curve.png');
    position: absolute;
    bottom: -41px;
    width: 100%;
    height: 200px;
    z-index: 1;
}

.hero h1 {
    color: var(--color-white);
    font-size: var(--size-title);
    font-weight: 700;
}

.hero h3 {
    color: var(--color-white);
}

.hero p {
    color: var(--color-white);

}

/* Formulario Contact form 7*/

div#wpcf7-f39-o1 {
    background-color: #08AEEA;
background-image: linear-gradient(90deg, #08AEEA 0%, #00d4c0 100%);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.wpcf7 input[type=submit] {
    border-bottom: 7px solid #ce5632;
}

.wpcf7 input:hover[type=submit] {
    color: #fff;
    background-color: #90ce00;
    border-color: #fff;
}

.wpcf7 input[type=submit] {
    z-index: 99;
    height: 75px;
    padding: 20px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    transition: .3s;
    width: 100%;
    font-weight: 700;
    overflow: hidden;
    border-radius: 5px;
    text-align: center;
    background-color: #fb521f;
    border-bottom: 7px solid #da4500;
}

input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required {
    width: 100%;
    border: none;
    padding: 14px 0px;
    box-sizing: border-box;
    border-radius: 42px;
}

textarea:focus,
input:focus {
    outline: none;
    background: rgb(233, 233, 233);
}

input {
    text-indent: 20px;
}

input::placeholder {
    padding: 5px;
}

/* Clinicas */
.clinicas {
    padding-top: 150px;


}

.clinicas h2:after {
    margin: 0 auto;
    content: '';
    background: var(--titulos-h2);
    width: 10%;
    height: 2px;
    top: 40px;
    display: block;
    position: relative;

}

/* Planes */

.planes {
    padding: 100px 0px;
}


.planes h2:after {
    margin: 0 auto;
    content: '';
    background: var(--titulos-h2);
    width: 10%;
    height: 2px;
    top: 40px;
    display: block;
    position: relative;
}

/* CAJAS */

.box {
    margin-bottom: 60px;
    padding: 50px;
    background: var(--bg-box);
    color: #fff;
    box-sizing: border-box;
    border-radius: 1em;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

}

.box2 {
    margin-top: 60px;
    padding: 50px;
    background: var(--bg-box2);
    color: #fff;
    box-sizing: border-box;
    border-radius: 1em;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

}

.box p,
.box2 p {
    padding: 20px 0px;
    font-size: 1.2em;
}


/* BENEFICIOS */
.beneficios h2:after {
    margin: 0 auto;
    content: '';
    background: var(--titulos-h2);
    width: 10%;
    height: 2px;
    top: 40px;
    display: block;
    position: relative;
}

.box h3:after,
.box2 h3:after {
    content: '';
    background: #fff;
    width: 10%;
    height: 2px;
    top: 15px;
    display: block;
    position: relative;
}

/* Lista de beneficios */
.beneficios {
    padding: 200px 0px;
    background-color: #f9f8f8;
}

.lista-beneficios {
    list-style: none;
    font-weight: 500;
}

.lista-beneficios li {
    padding: 20px 0px;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    color: darkslategrey;
}


.lista-beneficios li span {
    padding-left: 10px;
}

/*clinicas y centros medicos */

.centros-medicos {
    padding: 150px 0px;
}

.centros-medicos h2:after {
    margin: 0 auto;
    content: '';
    background: var(--titulos-h2);
    width: 10%;
    height: 2px;
    top: 40px;
    display: block;
    position: relative;
}

/* Footer */

footer {
    background: var(--bg-footer);
    padding: 100px 0px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: var(--hover-links);
    text-decoration: none;
}

/* acordeon */

.acordeon {
    padding-top: 70px;
}

.card-header {
    padding: 20px 0px;
    background: #3c78f2;
}

.card-body ul li {
    list-style: none;
}

.btn-link {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.btn-link:hover {
    color: var(--hover-links);
    text-decoration: none;
}


/* Recapcha */
.rc-anchor-normal {
    height: 74px;
    width: 89% !important;
}

/* Responsive */

@media (max-width:480px) {
    .hero {
        padding-top: 40px;
        padding-bottom: 200px;
    }

    .hero h1 {
        font-size: 13vw;
    }

    .hero h3 {
        font-size: 5vw;
    }

    .hero a {
        font-size: 4vw;
    }

    h2{
        font-size: 6vw;
    }
}